<!DOCTYPE html>
<html>
  <head>
    <title>mTrakr : Your expense tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="indigo">
      <div class="container">
        
        <%= link_to 'mTrakr', root_url, class: 'brand-logo' %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Transactions', transactions_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Overview', overviews_path %></li>          
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="active"><%= link_to 'Transactions', transactions_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Overview', overviews_path %></li>
          
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>    
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <center>
    <div class="container">

      <p class="notice"><%= notice %></p>
      <br/>
      <p class="alert"><%= alert %></p>
      
        <%= yield %>
      
    </div>
    </center>
  </body>
</html>
